<!DOCTYPE html>
<html>
<head>
  <title>F1 Driver List</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/listings.css">
  <script type="text/javascript" src="javascripts/style.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="header">
    <div class="logo"><h1>F1 Driver Lists</h1></div>
  </div>

  <h2>Welcome into F1 Driver Data Web Semantics!</h2>
  <p>This website is created in order to search F1's current season's driver.</p>
  <p>Here you can search the data of the driver based on their name, and their teams!</p>
  <p>To start, you can use the navigations below!</p>

  <div class="util">
    <div class="dropdown">
      <button onclick="showDropdownMenus()" class="dropbtn">View By Teams</button>
      <div id="team-dropdown" class="dropdown-content">
        <% teams.forEach(function(team) { %>
          <% link = "/data/teams/" + team.name %>
          <a href=<%- link %>><%- team.name %></a>
        <% }); %>
      </div>
    </div>
    <div class="view-all-button">
      <a href="/data">View All Drivers</a>
    </div>
    <div class="search-container">
      <form action="/data" method="get">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
</body>
</html>